@{
    ViewData["Title"] = "Wynik Testu";
}

<div class="text-center">
            <div class="card" style="width: 100%; margin-bottom: 1rem; background-color: gold">
                <div class="card-body">
                    <h4 class="card-title">Wynik: @ViewBag.punkty pkt.</h4>
                    <h5 class="card-subtitle mb-2 text-muted">@ViewBag.wynik %</h5>
                    <h5 class="card-body mb-2 text-muted">Otrzymana ocena: @ViewBag.ocena</h5>
                    <a class="btn btn-success" style="margin:5px" asp-action="TestUcznia">OK</a>
                </div>
            </div>
</div>